## Week 2

### Exercise:
Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as `groupby()` and `read_csv()`.

In [3]:
# You can find covid related data under project's data folder 
base_url = "../data/covid/"
infected_dataset_url = base_url + "time_series_covid19_confirmed_global.csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

#### Solution:

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  # to show fig

In [5]:
df= pd.read_csv('C:/Users/yldrm/Desktop/gayesu/Data/time_series_covid19_confirmed_global.csv')
df1= pd.read_csv('C:/Users/yldrm/Desktop/gayesu/Data/time_series_covid19_deaths_global.csv')
df2= pd.read_csv('C:/Users/yldrm/Desktop/gayesu/Data/time_series_covid19_confirmed_global.csv')

In [19]:
df.head(200)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,Seychelles,-4.6796,55.4920,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
196,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,37527,37910,38296,38514,38965,39387,39850,40197,40604,40818
197,NaN,Slovakia,48.6690,19.6990,0,0,0,0,0,0,...,1528,1528,1530,1531,1533,1541,1542,1545,1548,1552
198,NaN,Slovenia,46.1512,14.9955,0,0,0,0,0,0,...,1484,1485,1485,1486,1488,1488,1490,1492,1495,1496
199,NaN,Somalia,5.1521,46.1996,0,0,0,0,0,0,...,2289,2334,2368,2416,2452,2513,2513,2579,2618,2642

In [7]:
df.columns #Columns names include dates

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [8]:
df.index

RangeIndex(start=0, stop=266, step=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [18]:
df_without_key = df.drop(columns=['Country/Region','Lat','Long','Province/State'])
sum_row =df_without_key.sum(axis=1) # sum of row
sum_row
df_without_key

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,0,0,0,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,0,0,0,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,0,0,0,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,0,0,0,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,0,0,0,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,0,0,0,0,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,0,0,0,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,0,0,0,0,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,0,0,0,0,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [35]:
df_with_key_back= pd.concat([sum_row, df['Country/Region']], axis=1)
df_with_key_back # sum of row with country names
df_with_key_back.columns

Index([0, 'Country/Region'], dtype='object')

In [25]:
sum_row1= df_without_key.groupby(level=0).max()
sum_row1

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,0,0,0,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,0,0,0,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,0,0,0,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,0,0,0,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,0,0,0,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,0,0,0,0,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,0,0,0,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,0,0,0,0,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,0,0,0,0,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4